include _head.jade
body
	.row
		.side-left
			h1 STYFLUX 
		#wrapper
			h2 CSS Styleguide
			p Hola chicos, aca dejo lo que entendi del uso de styflux en un breve documento, espero ser clara y precisa, igual cualquier duda o sugerencia me informan... este es un texto a modificar jojo