include _head.jade
body
	.side-left
		h1 STYFLUX
	.menu-vertical
		ul
			li
				a(href="javascript:;", title="Styflux") Styflux
			li
				a(href="javascript:;", title="Config.json") Config.json
			li
				a(href="javascript:;", title="Buttons") Buttons
			li
				a(href="javascript:;", title="Content") Content
			li
				a(href="javascript:;", title="Fonts") Fonts
			li
				a(href="javascript:;", title="Forms") Forms
			li
				a(href="javascript:;", title="Grids") Grids
			li
				a(href="javascript:;", title="Reset") Reset
			li
				a(href="javascript:;", title="Resources") Resources
			li
				a(href="javascript:;", title="Table") Table
			li
				a(href="javascript:;", title="Hacks") Hacks
			li
				a(href="javascript:;", title="Plugins") Plugins
	.content
		h2 CSS Styleguide
		p Hola chicos, aca dejo lo que entendi del uso de styflux en un breve documento, espero ser clara y precisa, igual cualquier duda o sugerencia me informan...
		p Para poder usarlo debemos escribir styflux -c en nuestra consola....
		.box
			h2 Config.json
			p Este archivo se ubica en styflux/config , yo podría llamar a este archivo el cerebrito del styflux ya que aquí se declaran las variables entre otras configuraciones para administrar a tu necesidad el Styflux.
			p 1. <strong>"compile"</strong> aquí indicamos donde se compilara(renderizara) nuestros estilos:
			.code-box
				pre
					code.html
						span "compile":{<br>
						span.pl	"ext":".styl",<br>
						span.pl	"cmd":"stylus -c",<br>
						span.pl	"cmdr":"-o",<br>
						span.pl	"route":"../css" 
								span.gray &lt;!-- esto varía segun nuestra ubicación de carpeta contenedora de css --&gt;<br>
						span }
			p 2. <strong>"layout"</strong> contiene la suma de los estilos que estan en styflux/view-helpers:
			.code-box
				pre
					code.html
						span "layouts":{<br>
							"active":
							span.purple true,<br>
							"path":"./layouts",<br>
							"compile":{<br>
						span.pl	"layout.styl":{<br>
						span.pl2 "helpers":{<br>
						span.pl3 "fonts":"fonts.styl", 
							span.gray &lt;!-- ejm: @font-face font_face("lucidaRegular") --&gt;<br>
						span.pl3 "content":"content.styl", 
							span.gray &lt;!-- principales contenedores como: #wrapper .box .main --&gt;<br>
						span.pl3 "reset":"reset.styl",<br>
						span.pl3 "grids":"grids.styl", 
							span.gray &lt;!-- medidas(ancho) recopiladas de nuestro diseño basada en un sistema de grillas --&gt;<br>
						span.pl3 "buttons":"buttons.styl",<br>
						span.pl3 "forms":"forms.styl", 
							span.gray &lt;!-- etiquetas, clases, id que usamos para los formularios en general --&gt;<br>
						span.pl3 "table":"table.styl", 
							span.gray &lt;!-- clases asignadas a table tr td --&gt;<br>
						span.pl3 "plugins":"plugins.styl",<br>
						span.pl3 "resources":["resources.styl"], 
							span.gray &lt;!-- todas las clases reutilizables --&gt;<br>
						span.pl3 "hacks":"[@ult]hacks.styl" 
							span.gray &lt;!-- clases para navegador IE --&gt;<br>
						span.pl2 }<br>
						span.pl }<br>
						span }
			p 3. <strong>"views"</strong> contiene la suma de los estilos que estan en styflux/views, esto lo usamos en caso de tener 2 tipos de vista para nuestro proyecto, por llamarlo de algún modo "Público" y "Privado":
			.code-box
				pre
					code.html
						span "views":{<br>
						span.pl	"path":"./views",<br>
						span.pl "pathCompile":"./views"<br>
						span }
			p 4. <strong>"vars"</strong> en esta variable vamos a declarar ....., adicional a ello indicamos la position X/Y de nuestros icon-sets:
			.code-box
				pre
					code.html
						span "vars":{<br>
						span.pl	"styfluxFonts":"[@url]fonts/", 
							span.gray &lt;!-- es la ubicación de carpeta contenedora de las fuentes: .eot .svg .woff --&gt;<br>
						span.pl	"routImg":"[@url]../img/",<br>
						span.pl	"family1":"'lucidaRegular',Arial,sans-serif", 
							span.gray &lt;!-- es recomendable no usar mas de 3 tipos de fuentes en un proyecto --&gt;<br>
						span.pl	"family2":"'abrazRegular',Arial,sans-serif",<br>
						span.pl	"family3":"Arial,sans-serif",<br>
						span.pl	"Styflux":"17px 50%" 
							span.gray &lt;!-- en base a un imagen dentro del icon-set declaramos las posiciones x/y en una variable --&gt;<br>
						span }
