/**
* Plugins General
* @class Plugins
* @module plugins.css
*/
/**
* TextboxList Plugin
* @class Plugin TextboxList
* @module para buscadores
*/
.textboxlist
	background #FFF
	border 1px solid #B8B8B8
	border-radius 4px
	box-shadow -1px 2px 2px rgba(0, 0, 0, 0.2) inset
	cursor text
	padding-top 4px
	position absolute
	z-index 200
	top 100%
	width 380px
.textboxlist-bits
	overflow hidden
	padding 3px 10px
	position relative
	.textboxlist-bit-editable-input
		border none
		border-radius 0
		box-shadow none
		padding 0
.textboxlist-bit-box
	background #CCC
	border-radius 3px
	font-family family1
	float left
	font-size 11px
	height 20px
	line-height 20px
	margin-bottom 4px
	padding 0 25px 0 5px
	position relative
	&:hover
		background-color #dddcdc
		.textboxlist-bit-box-deletebutton
			background-color #656464
			&:hover
				background-color #608829
.see-more
	background #CCC
	border-radius 3px
	color #000
	font-size 12px
	height 17px
	line-height 17px
	margin-bottom 4px
	padding 4px 5px
	top 4px
	right 4px
	position absolute
.textboxlist-bit
	margin-right 6px
	&:last-child
		margin 0
.textboxlist-bit-box-deletebutton
	background #333 url(routImg+"icon-portada.png") icoCloseAutocomplete no-repeat
	border-radius 0 3px 3px 0
	height 20px
	position absolute
	right 0
	top 0
	width 20px
	&:hover
		background-color #608829
.textboxlist-bit-editable
	float left
/*
.textboxlist-bit-box-focus
	background-color #D4A0B0
	color #993300
	.textboxlist-bit-box-deletebutton
		background-color #CC0033
*/
.textboxlist-autocomplete
	/*background #FFF
	border 1px solid #CCC
	border-radius 4px
	display none
	left 0*/
	padding 10px 0
	/*position absolute
	top 100%
	width 380px*/
	z-index 10
	.control
		padding-top 10px
.textboxlist-autocomplete-results
	color #666
	font-size 11px
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
	li
		float left
		padding 3px 10px
		vertical-align middle
		white-space nowrap
		width 170px
	.selected
		background-color #fcf3d6
.textboxlist-autocomplete-highlight
	color #5F8626
#textboxlist-autocomplete-no-result
	padding 0 10px

.agt-cboComplete
	width 300px
	.textboxlist-bit-editable-input
		height 26px
	input[type="text"]
		padding-left 0
	.textboxlist-autocomplete-results
		input[type="checkbox"]
			margin-right 4px
			vertical-align top
	.textboxlist-autocomplete-result-focus
		background-color #fcf3d6
/**
@module plugins.css
@submodule Calendario Plugin
*/
.ui-helper-hidden
	display: none

.ui-helper-hidden-accessible
	border: 0
	clip: rect(0 0 0 0)
	height: 1px
	margin: -1px
	overflow: hidden
	padding: 0
	position: absolute
	width: 1px

.ui-helper-reset
	margin: 0
	padding: 0
	border: 0
	outline: 0
	line-height: 1.3
	text-decoration: none
	font-size: 100%
	list-style: none

.ui-helper-clearfix:before,
.ui-helper-clearfix:after
	content: ""
	display: table
	border-collapse: collapse

.ui-helper-clearfix:after
	clear: both

.ui-helper-clearfix
	min-height: 0

.ui-helper-zfix
	width: 100%
	height: 100%
	top: 0
	left: 0
	position: absolute
	opacity: 0
	filter: Alpha(Opacity=0)

.ui-front
	z-index: 100

.ui-state-disabled
	cursor: default !important

.ui-icon
	display: block
	text-indent: -99999px
	overflow: hidden
	background-repeat: no-repeat

.ui-widget-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
.ui-button
	display: inline-block
	position: relative
	padding: 0
	line-height: normal
	margin-right: .1em
	cursor: pointer
	vertical-align: middle
	text-align: center
	overflow: visible
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active
	text-decoration: none
.ui-button-icon-only
	width: 2.2em

button.ui-button-icon-only
	width: 2.4em

.ui-button-icons-only
	width: 3.4em

button.ui-button-icons-only
	width: 3.7em

.ui-button .ui-button-text
	display: block
	line-height: normal

.ui-button-text-only .ui-button-text
	padding: .4em 1em

.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text
	padding: .4em
	text-indent: -9999999px

.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text
	padding: .4em 1em .4em 2.1em

.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text
	padding: .4em 2.1em .4em 1em

.ui-button-text-icons .ui-button-text
	padding-left: 2.1em
	padding-right: 2.1em

input.ui-button
	padding: .4em 1em

.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon
	position: absolute
	top: 50%
	margin-top: -8px

.ui-button-icon-only .ui-icon
	left: 50%
	margin-left: -8px

.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary
	left: .5em

.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary
	right: .5em

.ui-buttonset
	margin-right: 7px

.ui-buttonset .ui-button
	margin-left: 0
	margin-right: -.3em

input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner
	border 0
	padding 0

.ui-widget
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif
	font-size: 1.1em

.ui-widget .ui-widget
	font-size: 1em

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button
	font-family Trebuchet MS,Tahoma,Verdana,Arial,sans-serif
	font-size 1em
.ui-widget-content
	border: 1px solid #dddddd
	background: #eeeeee url(routImg+"UI/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x
	color: #333333

.ui-widget-content a
	color: #333333

.ui-widget-header
	border: 1px solid #fe9a2d
	background: #fe9a2d url(routImg+"UI/ui-bg_inset-soft_60_fe9a2d_1x100.png") 50% 50% repeat-x
	color: #ffffff
	font-weight: bold

.ui-widget-header a
	color: #ffffff

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
	border: 1px solid #fcbb64
	background: #f6f6f6 url(routImg+"UI/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x
	font-weight: bold
	color: #158c01

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited
	color: #158c01
	text-decoration: none

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
	border: 1px solid #fbcb09
	background: #fdf5ce url(routImg+"UI/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x
	font-weight: bold
	color: #f48621

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited
	color: #f48621
	text-decoration: none

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active
	border: 1px solid #fbd850
	background: #ffffff url(routImg+"UI/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x
	font-weight: bold
	color: #eb8f00

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited
	color: #eb8f00
	text-decoration: none

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight
	border: 1px solid #a6c914
	background: #cee375 url(routImg+"UI/ui-bg_highlight-soft_75_cee375_1x100.png") 50% top repeat-x
	color: #333333

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a
	color: #333333

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error
	border: 1px solid #cd0a0a
	background: #b81900 url(routImg+"UI/ui-bg_diagonals-thick_18_b81900_40x40.png") 50% 50% repeat
	color: #ffffff

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a
	color: #ffffff

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text
	color: #ffffff

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary
	font-weight: bold

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary
	opacity: .7
	filter: Alpha(Opacity=70)
	font-weight: normal

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled
	opacity: .35
	filter: Alpha(Opacity=35)
	background-image: none

.ui-state-disabled .ui-icon
	filter: Alpha(Opacity=35)

.ui-icon
	width: 16px
	height: 16px

.ui-icon,
.ui-widget-content .ui-icon
	background-image: url(routImg+"UI/ui-icons_222222_256x240.png")

.ui-widget-header .ui-icon
	background-image: url(routImg+"UI/ui-icons_ffffff_256x240.png")

.ui-state-default .ui-icon
	background-image url(routImg+"UI/ui-icons_ef8c08_256x240.png")

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon
	background-image url(routImg+"UI/ui-icons_ef8c08_256x240.png")

.ui-state-active .ui-icon
	background-image url(routImg+"UI/ui-icons_ef8c08_256x240.png")

.ui-state-highlight .ui-icon
	background-image url(routImg+"UI/ui-icons_a6c914_256x240.png")

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon
	background-image: url(routImg+"UI/ui-icons_ffd27a_256x240.png")
.ui-datepicker
	width 17em
	padding .2em .2em 0
	display none
.ui-datepicker .ui-datepicker-header
	position relative
	padding: .2em 0
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next
	position: absolute
	top 2px
	width 1.8em
	height 1.8em

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover
	top: 1px

.ui-datepicker .ui-datepicker-prev
	left: 2px

.ui-datepicker .ui-datepicker-next
	right: 2px

.ui-datepicker .ui-datepicker-prev-hover
	left: 1px

.ui-datepicker .ui-datepicker-next-hover
	right: 1px

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span
	display: block
	position: absolute
	left: 50%
	margin-left: -8px
	top: 50%
	margin-top: -8px

.ui-datepicker .ui-datepicker-title
	margin: 0 2.3em
	line-height: 1.8em
	text-align: center

.ui-datepicker .ui-datepicker-title select
	font-size: 1em
	margin: 1px 0

.ui-datepicker select.ui-datepicker-month-year
	width: 100%

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year
	width: 49%

.ui-datepicker table
	width: 100%
	font-size: .9em
	border-collapse: collapse
	margin: 0 0 .4em

.ui-datepicker th
	padding: .7em .3em
	text-align: center
	font-weight: bold
	border: 0

.ui-datepicker td
	border: 0
	padding: 1px

.ui-datepicker td span,
.ui-datepicker td a
	display: block
	padding: .2em
	text-align: right
	text-decoration: none

.ui-datepicker .ui-datepicker-buttonpane
	background-image: none
	margin: .7em 0 0 0
	padding: 0 .2em
	border-left: 0
	border-right: 0
	border-bottom: 0

.ui-datepicker .ui-datepicker-buttonpane button
	float: right
	margin: .5em .2em .4em
	cursor: pointer
	padding: .2em .6em .3em .6em
	width: auto
	overflow: visible

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current
	float: left

.ui-datepicker.ui-datepicker-multi
	width: auto

.ui-datepicker-multi .ui-datepicker-group
	float: left

.ui-datepicker-multi .ui-datepicker-group table
	width: 95%
	margin: 0 auto .4em

.ui-datepicker-multi-2 .ui-datepicker-group
	width: 50%

.ui-datepicker-multi-3 .ui-datepicker-group
	width: 33.3%

.ui-datepicker-multi-4 .ui-datepicker-group
	width: 25%

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header
	border-left-width: 0

.ui-datepicker-multi .ui-datepicker-buttonpane
	clear: left

.ui-datepicker-row-break
	clear: both
	width: 100%
	font-size: 0

.ui-datepicker-rtl
	direction: rtl

.ui-datepicker-rtl .ui-datepicker-prev
	right: 2px
	left: auto

.ui-datepicker-rtl .ui-datepicker-next
	left: 2px
	right: auto

.ui-datepicker-rtl .ui-datepicker-prev:hover
	right: 1px
	left: auto

.ui-datepicker-rtl .ui-datepicker-next:hover
	left: 1px
	right: auto

.ui-datepicker-rtl .ui-datepicker-buttonpane
	clear: right

.ui-datepicker-rtl .ui-datepicker-buttonpane button
	float: left

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group
	float: right

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header
	border-right-width 0
	border-left-width 1px
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl
	border-top-left-radius: 4px

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr
	border-top-right-radius: 4px

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl
	border-bottom-left-radius: 4px

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br
	border-bottom-right-radius: 4px

.ui-widget-overlay
	background: #666666 url(routImg+"ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat
	opacity: .5
	filter: Alpha(Opacity=50)

.ui-widget-shadow
	margin: -5px 0 0 -5px
	padding: 5px
	background: #000000 url(routImg+"ui-bg_flat_10_000000_40x100.png") 50% 50% repeat-x
	opacity: .2
	filter: Alpha(Opacity=20)
	border-radius: 5px
.ui-icon-blank
	background-position: 16px 16px

.ui-icon-carat-1-n
	background-position: 0 0

.ui-icon-carat-1-ne
	background-position: -16px 0

.ui-icon-carat-1-e
	background-position: -32px 0

.ui-icon-carat-1-se
	background-position: -48px 0

.ui-icon-carat-1-s
	background-position: -64px 0

.ui-icon-carat-1-sw
	background-position: -80px 0

.ui-icon-carat-1-w
	background-position: -96px 0

.ui-icon-carat-1-nw
	background-position: -112px 0

.ui-icon-carat-2-n-s
	background-position: -128px 0

.ui-icon-carat-2-e-w
	background-position: -144px 0

.ui-icon-triangle-1-n
	background-position: 0 -16px

.ui-icon-triangle-1-ne
	background-position: -16px -16px

.ui-icon-triangle-1-e
	background-position: -32px -16px

.ui-icon-triangle-1-se
	background-position: -48px -16px

.ui-icon-triangle-1-s
	background-position: -64px -16px

.ui-icon-triangle-1-sw
	background-position: -80px -16px

.ui-icon-triangle-1-w
	background-position: -96px -16px

.ui-icon-triangle-1-nw
	background-position: -112px -16px

.ui-icon-triangle-2-n-s
	background-position: -128px -16px

.ui-icon-triangle-2-e-w
	background-position: -144px -16px

.ui-icon-arrow-1-n
	background-position: 0 -32px

.ui-icon-arrow-1-ne
	background-position: -16px -32px

.ui-icon-arrow-1-e
	background-position: -32px -32px

.ui-icon-arrow-1-se
	background-position: -48px -32px

.ui-icon-arrow-1-s
	background-position: -64px -32px

.ui-icon-arrow-1-sw
	background-position: -80px -32px

.ui-icon-arrow-1-w
	background-position: -96px -32px

.ui-icon-arrow-1-nw
	background-position: -112px -32px

.ui-icon-arrow-2-n-s
	background-position: -128px -32px

.ui-icon-arrow-2-ne-sw
	background-position: -144px -32px

.ui-icon-arrow-2-e-w
	background-position: -160px -32px

.ui-icon-arrow-2-se-nw
	background-position: -176px -32px

.ui-icon-arrowstop-1-n
	background-position: -192px -32px

.ui-icon-arrowstop-1-e
	background-position: -208px -32px

.ui-icon-arrowstop-1-s
	background-position: -224px -32px

.ui-icon-arrowstop-1-w
	background-position: -240px -32px

.ui-icon-arrowthick-1-n
	background-position: 0 -48px

.ui-icon-arrowthick-1-ne
	background-position: -16px -48px

.ui-icon-arrowthick-1-e
	background-position: -32px -48px

.ui-icon-arrowthick-1-se
	background-position: -48px -48px

.ui-icon-arrowthick-1-s
	background-position: -64px -48px

.ui-icon-arrowthick-1-sw
	background-position: -80px -48px
.ui-icon-arrowthick-1-w
	background-position: -96px -48px

.ui-icon-arrowthick-1-nw
	background-position: -112px -48px

.ui-icon-arrowthick-2-n-s
	background-position: -128px -48px

.ui-icon-arrowthick-2-ne-sw
	background-position: -144px -48px

.ui-icon-arrowthick-2-e-w
	background-position: -160px -48px

.ui-icon-arrowthick-2-se-nw
	background-position: -176px -48px

.ui-icon-arrowthickstop-1-n
	background-position: -192px -48px
.ui-icon-arrowthickstop-1-e
	background-position: -208px -48px

.ui-icon-arrowthickstop-1-s
	background-position: -224px -48px

.ui-icon-arrowthickstop-1-w
	background-position: -240px -48px

.ui-icon-arrowreturnthick-1-w
	background-position: 0 -64px

.ui-icon-arrowreturnthick-1-n
	background-position: -16px -64px

.ui-icon-arrowreturnthick-1-e
	background-position: -32px -64px

.ui-icon-arrowreturnthick-1-s
	background-position: -48px -64px

.ui-icon-arrowreturn-1-w
	background-position: -64px -64px

.ui-icon-arrowreturn-1-n
	background-position: -80px -64px

.ui-icon-arrowreturn-1-e
	background-position: -96px -64px

.ui-icon-arrowreturn-1-s
	background-position: -112px -64px

.ui-icon-arrowrefresh-1-w
	background-position: -128px -64px

.ui-icon-arrowrefresh-1-n
	background-position: -144px -64px

.ui-icon-arrowrefresh-1-e
	background-position: -160px -64px

.ui-icon-arrowrefresh-1-s
	background-position: -176px -64px

.ui-icon-arrow-4
	background-position: 0 -80px

.ui-icon-arrow-4-diag
	background-position: -16px -80px

.ui-icon-extlink
	background-position: -32px -80px

.ui-icon-newwin
	background-position: -48px -80px

.ui-icon-refresh
	background-position: -64px -80px

.ui-icon-shuffle
	background-position: -80px -80px

.ui-icon-transfer-e-w
	background-position: -96px -80px

.ui-icon-transferthick-e-w
	background-position: -112px -80px

.ui-icon-folder-collapsed
	background-position: 0 -96px

.ui-icon-folder-open
	background-position: -16px -96px

.ui-icon-document
	background-position: -32px -96px

.ui-icon-document-b
	background-position: -48px -96px

.ui-icon-note
	background-position: -64px -96px

.ui-icon-mail-closed
	background-position: -80px -96px

.ui-icon-mail-open
	background-position: -96px -96px

.ui-icon-suitcase
	background-position: -112px -96px

.ui-icon-comment
	background-position: -128px -96px

.ui-icon-person
	background-position: -144px -96px

.ui-icon-print
	background-position: -160px -96px

.ui-icon-trash
	background-position: -176px -96px

.ui-icon-locked
	background-position: -192px -96px

.ui-icon-unlocked
	background-position: -208px -96px

.ui-icon-bookmark
	background-position: -224px -96px

.ui-icon-tag
	background-position: -240px -96px

.ui-icon-home
	background-position: 0 -112px

.ui-icon-flag
	background-position: -16px -112px

.ui-icon-calendar
	background-position: -32px -112px

.ui-icon-cart
	background-position: -48px -112px

.ui-icon-pencil
	background-position: -64px -112px

.ui-icon-clock
	background-position: -80px -112px

.ui-icon-disk
	background-position: -96px -112px

.ui-icon-calculator
	background-position: -112px -112px

.ui-icon-zoomin
	background-position: -128px -112px

.ui-icon-zoomout
	background-position: -144px -112px

.ui-icon-search
	background-position: -160px -112px

.ui-icon-wrench
	background-position: -176px -112px

.ui-icon-gear
	background-position: -192px -112px

.ui-icon-heart
	background-position: -208px -112px

.ui-icon-star
	background-position: -224px -112px

.ui-icon-link
	background-position: -240px -112px

.ui-icon-cancel
	background-position: 0 -128px

.ui-icon-plus
	background-position: -16px -128px

.ui-icon-plusthick
	background-position: -32px -128px

.ui-icon-minus
	background-position: -48px -128px

.ui-icon-minusthick
	background-position: -64px -128px

.ui-icon-close
	background-position: -80px -128px

.ui-icon-closethick
	background-position: -96px -128px

.ui-icon-key
	background-position: -112px -128px

.ui-icon-lightbulb
	background-position: -128px -128px

.ui-icon-scissors
	background-position: -144px -128px

.ui-icon-clipboard
	background-position: -160px -128px

.ui-icon-copy
	background-position: -176px -128px

.ui-icon-contact
	background-position: -192px -128px

.ui-icon-image
	background-position: -208px -128px

.ui-icon-video
	background-position: -224px -128px

.ui-icon-script
	background-position: -240px -128px

.ui-icon-alert
	background-position: 0 -144px

.ui-icon-info
	background-position: -16px -144px

.ui-icon-notice
	background-position: -32px -144px

.ui-icon-help
	background-position: -48px -144px

.ui-icon-check
	background-position: -64px -144px

.ui-icon-bullet
	background-position: -80px -144px

.ui-icon-radio-on
	background-position: -96px -144px

.ui-icon-radio-off
	background-position: -112px -144px

.ui-icon-pin-w
	background-position: -128px -144px

.ui-icon-pin-s
	background-position: -144px -144px

.ui-icon-play
	background-position: 0 -160px

.ui-icon-pause
	background-position: -16px -160px

.ui-icon-seek-next
	background-position: -32px -160px

.ui-icon-seek-prev
	background-position: -48px -160px

.ui-icon-seek-end
	background-position: -64px -160px

.ui-icon-seek-start
	background-position: -80px -160px

.ui-icon-seek-first
	background-position: -80px -160px

.ui-icon-stop
	background-position: -96px -160px

.ui-icon-eject
	background-position: -112px -160px

.ui-icon-volume-off
	background-position: -128px -160px

.ui-icon-volume-on
	background-position: -144px -160px

.ui-icon-power
	background-position: 0 -176px

.ui-icon-signal-diag
	background-position: -16px -176px

.ui-icon-signal
	background-position: -32px -176px

.ui-icon-battery-0
	background-position: -48px -176px

.ui-icon-battery-1
	background-position: -64px -176px

.ui-icon-battery-2
	background-position: -80px -176px

.ui-icon-battery-3
	background-position: -96px -176px

.ui-icon-circle-plus
	background-position: 0 -192px

.ui-icon-circle-minus
	background-position: -16px -192px

.ui-icon-circle-close
	background-position: -32px -192px

.ui-icon-circle-triangle-e
	background-position: -48px -192px

.ui-icon-circle-triangle-s
	background-position: -64px -192px

.ui-icon-circle-triangle-w
	background-position: -80px -192px

.ui-icon-circle-triangle-n
	background-position: -96px -192px

.ui-icon-circle-arrow-e
	background-position: -112px -192px

.ui-icon-circle-arrow-s
	background-position: -128px -192px

.ui-icon-circle-arrow-w
	background-position: -144px -192px

.ui-icon-circle-arrow-n
	background-position: -160px -192px

.ui-icon-circle-zoomin
	background-position: -176px -192px

.ui-icon-circle-zoomout
	background-position: -192px -192px

.ui-icon-circle-check
	background-position: -208px -192px

.ui-icon-circlesmall-plus
	background-position: 0 -208px

.ui-icon-circlesmall-minus
	background-position: -16px -208px

.ui-icon-circlesmall-close
	background-position: -32px -208px

.ui-icon-squaresmall-plus
	background-position: -48px -208px

.ui-icon-squaresmall-minus
	background-position: -64px -208px

.ui-icon-squaresmall-close
	background-position: -80px -208px

.ui-icon-grip-dotted-vertical
	background-position: 0 -224px

.ui-icon-grip-dotted-horizontal
	background-position: -16px -224px

.ui-icon-grip-solid-vertical
	background-position: -32px -224px

.ui-icon-grip-solid-horizontal
	background-position: -48px -224px

.ui-icon-gripsmall-diagonal-se
	background-position: -64px -224px

.ui-icon-grip-diagonal-se
	background-position: -80px -224px

/**
@module plugins.css
@submodule Fancybox Plugin
*/
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
	padding: 0
	margin: 0
	border: 0
	outline: none
	vertical-align: top
.fancybox-wrap
	position: absolute
	top: 0
	left: 0
	z-index: 8020
.fancybox-skin
	border 10px solid #ccc
	position: relative
	background: #fff
	color: #444
	text-shadow: none
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 10px
.fancybox-opened
	z-index: 8030
.fancybox-opened .fancybox-skin
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
.fancybox-outer, .fancybox-inner
	position: relative
.fancybox-inner
	overflow: hidden
.fancybox-type-iframe .fancybox-inner
	-webkit-overflow-scrolling: touch
.fancybox-error
	color: #444
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif
	margin: 0
	padding: 15px
	white-space: nowrap
.fancybox-image, .fancybox-iframe
	display: block
	width: 100%
	height: 100%
.fancybox-image
	max-width: 100%
	max-height: 100%
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span
	background-image: url(routImg+'fancybox/fancybox_sprite.png')
#fancybox-loading
	position: fixed
	top: 50%
	left: 50%
	margin-top: -22px
	margin-left: -22px
	background-position: 0 -108px
	opacity: 0.8
	cursor: pointer
	z-index: 8060
#fancybox-loading div
	width: 44px
	height: 44px
	background: url(routImg+'fancybox/fancybox_loading.gif') center center no-repeat
.fancybox-close
	position: absolute
	top: -18px
	right: -18px
	width: 36px
	height: 36px
	cursor: pointer
	z-index: 8040
.fancybox-nav
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	background: transparent url(routImg+'fancybox/blank.gif')
	cursor: pointer
	height: 80%//100%
	margin-top: -30%
	position: absolute
	text-decoration: none
	top: 50%
	width: 10%//40
	z-index: 8040
.fancybox-prev
	left: 0
.fancybox-next
	right: 0
.fancybox-nav span
	position: absolute
	top: 50%
	width: 36px
	height: 34px
	margin-top: -18px
	cursor: pointer
	z-index: 8040
	visibility: hidden
.fancybox-prev span
	left: 10px
	background-position: 0 -36px
.fancybox-next span
	right: 10px
	background-position: 0 -72px
.fancybox-nav:hover span
	visibility: visible
.fancybox-tmp
	position: absolute
	top: -99999px
	left: -99999px
	visibility: hidden
	max-width: 99999px
	max-height: 99999px
	overflow: visible !important
.fancybox-lock
	overflow: hidden !important
	width: auto
.fancybox-lock body
	overflow: hidden !important
.fancybox-lock-test
	overflow-y: hidden !important
.fancybox-overlay
	position: absolute
	top: 0
	left: 0
	overflow: hidden
	display: none
	z-index: 8010
	background: url(routImg+'fancybox/fancybox_overlay.png')
.fancybox-overlay-fixed
	position: fixed
	bottom: 0
	right: 0
.fancybox-lock .fancybox-overlay
	overflow: auto
	overflow-y: scroll
.fancybox-title
	visibility: hidden
	font: normal 13px/20px Arial,sans-serif
	position: relative
	text-shadow: none
	z-index: 8050
.fancybox-opened .fancybox-title
	visibility: visible
.fancybox-title-float-wrap
	position: absolute
	bottom: 0
	right: 50%
	margin-bottom: -35px
	z-index: 8050
	text-align: center
.fancybox-title-float-wrap .child
	display: inline-block
	margin-right: -100%
	padding: 2px 20px
	background: rgba(0, 0, 0, 0.8)
	-webkit-border-radius: 15px
	-moz-border-radius: 15px
	border-radius: 15px
	text-shadow: 0 1px 2px #222
	color: #FFF
	font-weight: bold
	line-height: 24px
	white-space: nowrap
.fancybox-title-outside-wrap
	color: #dfdddd
	margin-top: 5px
	position: relative
	text-align right
	.fancybox-title
		font-size 12px
		font-variant small-caps
		font-weight 700
.fancybox-title-inside-wrap
	padding-top: 10px
.fancybox-title-over-wrap
	position: absolute
	bottom: 0
	left: 0
	color: #fff
	padding: 10px
	background: rgba(0, 0, 0, .8)
@media only screen and (-webkit-min-device-pixel-ratio: 1.5)only screen and (min--moz-device-pixel-ratio: 1.5)only screen and (min-device-pixel-ratio: 1.5)
	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span
		background-image: url(routImg+'fancybox/fancybox_sprite@2x.png')
		background-size: 44px 152px
	#fancybox-loading div
		background-image: url(routImg+'fancybox/fancybox_loading@2x.gif')
		background-size: 24px 24px
#fancybox-buttons
	left 0
	position fixed
	width 100%
	z-index 8050
	&.top
		top 10px
	&.bottom
		bottom 10px
	ul
		display block
		width 91px
		height 30px
		margin 0 auto
		padding 0
		list-style none
		border 1px solid #111
		border-radius 3px
		box-shadow inset 0 0 0 1px rgba(255,255,255,.05)
		background rgb(50,50,50)
		background -moz-linear-gradient(top, rgb(68,68,68) 0%, rgb(52,52,52) 50%, rgb(41,41,41) 50%, rgb(51,51,51) 100%)
		background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(68,68,68)), color-stop(50%,rgb(52,52,52)), color-stop(50%,rgb(41,41,41)), color-stop(100%,rgb(51,51,51)))
		background -webkit-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%)
		background -o-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%)
		background -ms-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%)
		background linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%)
		filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 )")
		li
			float left
			margin 0
			padding 0
	a
		display block
		width 30px
		height 30px
		text-indent -9999px
		background-color transparent
		background-image url(routImg+'fancybox/fancybox_buttons.png')
		background-repeat no-repeat
		outline none
		opacity 0.8
		&:hover
			opacity 1
		&.btnPrev
			background-position 5px 0
		&.btnNext
			background-position -33px 0
			border-right 1px solid #3e3e3e
		&.btnPlay
			background-position 0 -30px
		&.btnPlayOn
			background-position -30px -30px
		&.btnToggle
			background-position 3px -60px
			border-left 1px solid #111
			border-right 1px solid #3e3e3e
			width 35px
		&.btnToggleOn
			background-position -27px -60px
		&.btnClose
			border-left 1px solid #111
			width 35px
			background-position -56px 0px
		&.btnDisabled
			opacity 0.4
			cursor default
/**
@module plugins.css
@submodule Tipsy Plugin
*/
.tipsy
	background url(routImg+"tipsy.gif") no-repeat
	font-size 10px
	padding 5px
.tipsy-inner
	background-color #000
	color #fff
	max-width 200px
	padding 5px 8px 4px
	text-align center
.tipsy-north
	background-position center top
.tipsy-south
	background-position center bottom
.tipsy-east
	background-position right center
.tipsy-west
	background-position left center
/**
@module plugins.css
@submodule Validate Plugin
*/
.error
	border 1px solid #FC9E9E !important
	background #FDE5E5 !important
.controls
	position relative
input.errorie, select.errorie
	border 1px solid #FC9E9E !important
	background #FDE5E5 !important
em.errorie
	font-size 10px
	padding 5px
	background-color #000
	color #fff
	max-width 200px
	padding 5px 8px 4px
	text-align center
	top 32px
	left 0px
	position absolute
/**
@module plugins.css
@submodule Slidejs Plugin
*/
.slids-content
	padding-top 10px
	height 18px
	.slids-navs
		float right
		font-size 0
		height 18px
		margin-left 10px
		width 40px
	a
		background url(routImg+"icon-layout.png") no-repeat
		float left
		height 18px
		width 18px
	.slids-nleft
		background-position arrSlidsNleft
		&.disabled
			background-position arrSlidsNleftDisabled
	.slids-nrigth
		background-position arrSlidsNrigth
		margin-left 4px
		&.disabled
			background-position arrSlidsNrigthDisabled
	.slids-scrollbar
		background #000
		float left
		height 2px
		margin-top 8px
		position relative
	.slids-uiscroll
		background #000
		border-radius 4px
		height 10px
		left 0
		position absolute
		top -4px
.arrow_box
	font-size 10px
	color #fff
	position relative
	background #d58686
	border 1px solid #f55d5d
	border-radius 5px
	padding 0 3px
	margin 9px
.arrow_box:after, .arrow_box:before
	right 99%
	border solid transparent
	content " "
	height 0
	width 0
	position absolute
	pointer-events none
.arrow_box:after
	border-color rgba(213, 134, 134, 0)
	border-right-color #d58686
	border-width 8px
	top 120%
	margin-top -19px
.arrow_box:before
	border-color rgba(245, 93, 93, 0)
	border-right-color #f55d5d
	border-width 9px
	top 59%
	margin-top -10px
/**
@module loader.css
@submodule Loader
*/
.loader
	background url(routImg+"opacity.png") repeat
	border-radius 10px
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	&.fix
		background #FFF
	span
		background url(routImg+"loader.gif") no-repeat
		display block
		height 20px
		left 50%
		margin -10px 0 0 -10px
		position absolute
		top 50%
		width 20px