/**
* Reset CSS
* @class reset
* @module base.css
*/
article,aside,footer,header,nav,section
	display block
html
	height 100%
	font-size: 100%
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%
	padding 0
	margin 0
a:focus
	outline thin dotted #333
	outline 5px auto -webkit-focus-ring-color
	outline-offset -2px
a:hover,a:active
	outline 0
img
	max-width 100%
	width auto\9
	vertical-align middle
	border 0
	-ms-interpolation-mode bicubic
button,input,select,textarea
	margin 0
	font-size 100%
	vertical-align middle
button,input
	*overflow visible
	line-height normal
button::-moz-focus-inner,input::-moz-focus-inner
	padding: 0
	border: 0
button
	-webkit-appearance button
	cursor pointer
label,select,button,input[type="radio"],input[type="checkbox"]
	cursor pointer
textarea
	overflow auto
	vertical-align top
form
	padding 0
	margin 0
table
	border-collapse collapse
	border-spacing 0
	width 100%
input[type="radio"],input[type="checkbox"]
	margin 0
	padding 0
::-webkit-input-placeholder
	color #999
::-moz-placeholder
	color #999
:-ms-input-placeholder
	color #999
input:-moz-placeholder
	color #999