/**
* General Section
* @class General
* @module base.css
*/
body
	font 12px/15px family1
	height 100%
	margin 0
h1
	background url(routImg+"icon-set.png") Styflux no-repeat #60C8D1
	float left
	font-size 0
	height 100%
	padding 0 20px
	width 120px
h2
	border-bottom 1px solid #ccc
	color #60C8D1
	font 400 34px/35px family2
	margin 20px 0
	padding-bottom 10px
ul
	list-style none
	margin 0
	padding 0
p
	margin 0 0 15px
a
	color #5F8626
	text-decoration none
	&:hover
		text-decoration underline
td, th
	vertical-align middle
	word-wrap break-word
label
	font-size 13px
	line-height 15px
input[type="text"],input[type="password"]
	background #FFF
	border 1px solid #B8B8B8
	border-radius 4px
	color #333
	font-family family1
	font-size 13px
	height 25px
	line-height 25px
	padding 4px 10px
	&:focus
		background #ececec
select
	border 1px solid #B8B8B8
	border-radius 4px
	color #333
	font-size 13px
	font-family family1
	height 35px
	line-height 35px
	padding 4px 5px
option
	background #fff
	border-bottom 1px solid #e8e8e8
	font 12px/15px family1
	padding 2px 5px
textarea
	background #FFF
	border 1px solid #B8B8B8
	border-radius 4px
	color #333
	font-family family1
	font-size 13px
	height 80px
	line-height 25px
	padding 4px 10px
	resize none
	&:focus
		background #ececec