/**
* Button Section
* @class Button
* @module base.css
*/
.btn
	background #60c8d1
	border none
	border-radius 4px
	color #fff
	font 700 14px/20px family3
	padding 7px 20px
	&:hover
		background #82d9e1

/**
* Button Section
* @class Button
* @module base.css
*/
.btn-urb
	background #ff9b2e
	background unquote("url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2ZmOWIyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2ZmN2YxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYjc2MTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)")
	background -moz-linear-gradient(top, #ff9b2e 5%, #eb7617 90%, #eb7617 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(5%,#ff9b2e), color-stop(90%,#eb7617), color-stop(100%,#eb7617))
	background -webkit-linear-gradient(top, #ff9b2e 5%,#eb7617 90%,#eb7617 100%)
	background -o-linear-gradient(top, #ff9b2e 5%,#eb7617 90%,#eb7617 100%)
	background -ms-linear-gradient(top, #ff9b2e 5%,#eb7617 90%,#eb7617 100%)
	background linear-gradient(to bottom, #ff9b2e 5%,#eb7617 90%,#eb7617 100%)
	border none
	box-shadow 1px 2px 2px rgba(0, 0, 0, 0.2)
	color #FFF
	border-radius 4px
	display inline-block
	*display inline
	font 700 14px/16px family3
	padding 4px 20px
	text-shadow 1px 2px 0 rgba(0, 0, 0, 0.25)
	vertical-align top
	*zoom 1
	&:hover
		background #eb7617
		background unquote("url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2ViNzYxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2ZmOWIyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjliMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)")
		background -moz-linear-gradient(top,  #eb7617 5%, #ff9b2e 90%, #ff9b2e 100%)
		background -webkit-gradient(linear, left top, left bottom, color-stop(5%,#eb7617), color-stop(90%,#ff9b2e), color-stop(100%,#ff9b2e))
		background -webkit-linear-gradient(top,  #eb7617 5%,#ff9b2e 90%,#ff9b2e 100%)
		background -o-linear-gradient(top,  #eb7617 5%,#ff9b2e 90%,#ff9b2e 100%)
		background -ms-linear-gradient(top,  #eb7617 5%,#ff9b2e 90%,#ff9b2e 100%)
		background linear-gradient(to bottom,  #eb7617 5%,#ff9b2e 90%,#ff9b2e 100%)
		text-decoration none
	& + .btn-gray
		margin-left 10px
	&.disabled
		background #666
		color #999
		cursor default
		&:hover
			background #666
			color #999
.btn-gray
	*display inline
	*zoom 1
	background #686868
	border none
	border-radius 4px
	box-shadow 1px 2px 2px rgba(0, 0, 0, 0.2)
	color #fff
	display inline-block
	font 700 14px/16px family3
	padding 4px 20px
	text-shadow 1px 2px 0 rgba(0, 0, 0, 0.25)
	vertical-align top
	&:hover
		background-color #8c8b8b
		text-decoration none
	& + .btn-urb
		margin-left 20px
	&.disable
		background-color #8c8b8b
		color #646464
		cursor default
		text-decoration none
		text-shadow none
/**
@module resources.css
@submodule Size Buttons: Tamaños de los botones
*/
.btn-less
	line-height 24px
	padding 0 10px
.btn-medium
	font 700 24px/40px family3
	height 40px
	padding 0 30px
.btn-standar
	font 700 18px/31px family3
	height 31px
	padding 0 25px
.btn-small
	font 700 15px/30px family3
	height 30px
	padding 0 25px
.btn-large
	font 700 28px/50px family3
	padding 0 50px
.btn-big
	font 700 24px/40px family3
	height 40px
	padding 0 50px
.btn-xbig
	border-radius 10px
	font 700 29px/50px family3
	margin-top 15px
	padding 0 45px
.buy
	font 700 18px/40px family3
	padding 0
	text-align center
	width 300px
.buyPack
	font 700 15px/16px family3
	height 37px
	padding 3px 0 0
	text-align center
	width 300px