/**
* Contents Section
* @class Contents
* @module base.css
*/
.row
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.side-left
	border-right 1px dashed #60C8D1
	float left
	height 100%
	padding-right 10px
	position fixed
	top 0
.content
	margin 30px 30px 0 360px
