/**
* Contents Section
* @class Contents
* @module base.css
*/
.box-center
	margin 0 auto
	width 940px
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.w980
	width 980px
	margin 0 auto
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.content-baner
	margin 10px auto 0
	width 960px
.row
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
#wrapper
	margin 20px auto 0
	padding-bottom 75px
	position relative
	width 940px
.box-white
	background #fff
	border 1px solid #E8E8E8
	margin 0 0 35px
	padding 20px 10px 30px
	&.no-padding
		padding 10px 0 20px
	&.toforms
		padding 15px
		margin-bottom 15px
	p
		font-size 14px
		margin-bottom 20px
	h4
		color #333
		font 18px/20px family1
		margin-bottom 20px
.box-grays
	background #F2F3F5
	border 1px solid #E8E8E8
	padding 15px
	margin-bottom 15px