/**
* Contents Section
* @class Contents
* @module base.css
*/
.row
	height 100%
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
#wrapper
	float left
	padding 20px 30px
.side-left
	border-right 1px dashed #60C8D1
	float left
	height 100%
	padding-right 10px